.form__input {
  background: black;
  padding: 0 0 13px;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 30px;
  color: white;
}

.form__input:focus{
  outline: none;
}